<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273da6f73a25f4c79d0e6b4a8bd" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Origins</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 15</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2018</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Natural</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Natural,3:09" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:09</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Machine</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Machine,3:01" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:01</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Boomerang</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Boomerang,3:07" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:07</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cool Out</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Cool Out,3:37" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:37</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Bad Liar</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Bad Liar,4:20" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:20</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">West Coast</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="West Coast,3:37" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:37</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Zero</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Zero,3:30" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:30</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Bullet In A Gun</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Bullet In A Gun,3:24" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:24</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Digital</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Digital,3:21" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:21</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Only</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Only,3:00" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:00</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Stuck</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Stuck,3:10" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:10</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Love</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Love,2:46" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:46</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Birds</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Birds,3:39" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:39</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Burn out</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Burn Out,4:33" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:33</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Real Life</p>
            <form action="imagine_album1.html" method="post">
                    <button type="submit" value="Real Life,4:07" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:07</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>