<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273fc915b69600dce2991a61f13" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Mercury - Acts 1 & 2</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 32</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2022</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Enemy</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Enemy,2:53" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:53</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">My Life</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="My Life,3:44" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:44</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Lonely</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Lonely,2:39" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:39</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Wrecked</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Wrecked,4:04" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:04</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Monday</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Monday,3:08" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:08</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">#1</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="#1,3:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Easy Come Easy Go</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Easy Come Easy Go,3:00" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:00</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Giants</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Giants,3:30" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:30</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">It's Ok</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="It's Ok,3:22" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:22</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Dull Knives</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Dull Knives,3:33" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:33</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Follow You</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Follow You,2:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cutthroat</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Cutthroat,2:49" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:49</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">No Time For Toxic People</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="No Time For Toxic People,3:27" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:27</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">One Day</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="One Day,2:31" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:31</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Bones</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Bones,2:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Symphony</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Symphony,2:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Sharks</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Sharks,3:10" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:10</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I Don't Like Myself</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="I Don't Like Myself,3:05" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:05</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Blur</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Blur,2:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Higher Ground</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Higher Ground,2:41" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:41</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Crushed</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Crushed,3:08" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:08</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Take It Easy</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Take It Easy,2:38" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:38</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Waves</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Waves,3:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I'm Happy</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="I'm Happy,3:05" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:05</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Ferris Wheel</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Ferris Wheel,3:23" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:23</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Peace of Mind</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Peace of Mind,2:53" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:53</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Sirens</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Sirens,2:35" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:35</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Tied</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Tied,4:01" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:01</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Younger</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Younger,3:11" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:11</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I Wish</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="I Wish,3:27" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:27</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Continual</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="Continual,3:49" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:49</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">They Don't Know You Like I do</p>
            <form action="imagine_album5.html" method="post">
                    <button type="submit" value="They Don't Know You Like I do,4:17" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:17</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>