<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2735675e83f707f1d7271e5cf8a" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Evolve</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 12</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2017</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Next To Me</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Next To Me,3:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I Don't Know Why</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="I Don't Know Why,3:10" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:10</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Whatever it Takes</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Whatever it Takes,3:21" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:21</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Believer</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Believer,3:24" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:24</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Walking The Wire</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Walking The Wire,3:52" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:52</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Rise Up</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Rise Up,3:51" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:51</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I'll Make it Up to You</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="I'll Make it Up to You,4:22" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:22</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Yesterday</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Yesterday,3:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Mouth Of The River</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Mouth Of The River,3:41" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:41</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Thunder</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Thunder,3:07" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:07</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Start Over</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Start Over,3:06" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:06</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Dancing in the Dark</p>
            <form action="imagine_album2.html" method="post">
                    <button type="submit" value="Dancing in the Dark,3:53" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:53</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>