<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273b2b2747c89d2157b0b29fb6a" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Night Visions</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 20</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2012</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Radioactive</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Radioactive,3:06" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:06</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Tiptoe</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Tiptoe,3:13" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:13</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">It's Time</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="It's Time,3:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Demons</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Demons,2:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">On Top Of The World</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="On Top Of The World,3:09" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:09</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Amsterdam</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Amsterdam,4:01" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:01</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Hear Me</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Hear Me,3:52" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:52</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Every Night</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Every Night,3:35" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:35</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Bleeding Out</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Bleeding Out,3:41" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:41</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Underdog</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Underdog,3:26" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:26</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Nothing Left To Say</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Nothing Left To Say,8:56" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">8:56</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cha-Ching</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Cha-Ching,4:09" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:09</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Working Man</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Working Man,3:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">My Fault</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="My Fault,2:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Round And Round</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Round And Round,3:16" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:16</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">The River</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="The River,3:24" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:24</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">America</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="America,4:32" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:32</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Selene</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Selene,3:59" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:59</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cover Up</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="Cover Up,4:18" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:18</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I Don't Mind</p>
            <form action="imagine_album4.html" method="post">
                    <button type="submit" value="I Don't Mind,3:18" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:18</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>