<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2736ca5c90113b30c3c43ffb8f4" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">The Eminem Show</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 15</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2002</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">White America</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="White America,5:24" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:24</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Business</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Business,4:11" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:11</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cleanin' Out My Closet</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Cleanin' Out My Closet,4:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Square Dance</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Square Dance,5:23" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:23</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Soldier</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Soldier,3:46" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:46</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Say Goodbye Hollywood</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Say Goodbye Hollywood,4:32" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:32</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Drips</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Drips,4:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Without Me</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Without Me,4:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Sing For The Moment</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Sing For The Moment,5:39" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:39</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Superman</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Superman,5:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Hailie's Song</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Hailie's Song,5:20" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:20</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">When the Music Stops</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="When the Music Stops,4:30" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:30</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Say What You Say</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Say What You Say,5:09" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:09</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Till I Collapse</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="Till I Collapse,4:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">My Dad's Gone Crazy</p>
            <form action="eminem_album2.html" method="post">
                    <button type="submit" value="My Dad's Gone Crazy,4:27" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:27</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>