<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2732f44aec83b20e40f3baef73c" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Music To Be Murdered By</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 17</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2020</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Premonition - Intro</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Premonition - Intro,2:53" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:53</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Unaccommodating</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Unaccomodating,3:36" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:36</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">You Gon' Learn</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="You Gon' Learn,3:54" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:54</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Those Kinda Nights</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Those Kinda Nights,2:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">In Too Deep</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="In Too Deep,3:14" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:14</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Godzilla</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Godzilla,3:30" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:30</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Darkness</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Darkness,5:37" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:37</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Leaving Heaven</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Leaving Heaven,4:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Yah Yah</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Yah Yah,4:46" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:46</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Stepdad</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Stepdad,3:33" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:33</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Marsh</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Marsh,3:20" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:20</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Never Love Again</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Never Love Again,2:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Little Engine</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Little Engine,2:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Lock It Up</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Lock It Up,2:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Farewell</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="Farewell,4:07" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:07</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">No Regrets</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="No Regrets,3:20" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:20</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I Will</p>
            <form action="eminem_album4.html" method="post">
                    <button type="submit" value="I Will,5:03" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:03</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>