<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273c08d5fa5c0f1a834acef5100" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Recovery</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 17</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2010</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Cold Wind Blows</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Cold Wind Blows,5:03" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:03</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Talkin' 2 Myself</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Talkin' 2 Myself," class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:00</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">On Fire</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="On Fire,3:33" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:33</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Won't Back Down</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Won't Back Down,4:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">W.T.P</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="W.T.P,3:58" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:58</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Going Through Changes</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Going Through Changes,4:58" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:58</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Not Afraid</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Not Afraid,4:08" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:08</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Seduction</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Seduction,4:35" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:35</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">No Love</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="No Love,4:59" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:59</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Space Bound</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Space Bound,4:38" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:38</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cinderella Man</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Cinderella Man,4:39" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:39</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">25 to Life</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="25 to Life,4:01" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:01</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">So Bad</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="So Bad,5:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Almost Famous</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Almost Famous,4:52" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:52</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Love The Way You Lie</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Love The Way You Lie,4:23" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:23</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">You're Never Over</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="You're Never Over,5:05" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:05</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Untitled</p>
            <form action="eminem_album3.html" method="post">
                    <button type="submit" value="Untitled,3:14" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:14</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>