<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b27359ae8cf65d498afdd5585634" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Did you know that there's a tunnel under Ocean Blvd</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 16</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2023</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">The Grants</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="The Grants,4:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Did you know that there's a tunnel under Ocean Blvd</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Did you know that there's a tunnel under Ocean Blvd,4:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Sweet</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Sweet,3:35" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:35</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">A&W</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="A&W,7:13" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">7:13</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Judah Smith Interlude</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Judah Smith Interlude,4:36" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:36</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Candy Necklace (ft Jon Batiste)</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Candy Necklace (ft Jon Batiste),5:14" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:14</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Jon Batiste Interlude</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Jon Batiste Interlude,3:33" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:33</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Kintsugi</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Kintsugi,6:18" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">6:18</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Fingertips</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Fingertips,5:48" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:48</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Paris, Texas (ft. SYML)</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Paris Texas (ft. SYML),3:26" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:26</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Grandfather please stand on the shoulders of my father while he's deep-sea fishing</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Grandfather please stand on the shoulders of my father while he's deep-sea fishing,4:00" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:00</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Let The Light In (ft. Father John Misty)</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Let The Light In (ft. Father John Misty),4:38" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:38</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Margaret (ft. Bleachers)</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Margaret (ft. Bleachers),5:39" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:39</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Fishtail</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Fishtail,4:02" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:02</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Peppers (ft. Tommy Genesis)</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Peppers (ft. Tommy Genesis),4:08" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:08</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Taco Truck x VB</p>
            <form action="lana_album1.html" method="post">
                    <button type="submit" value="Taco Truck x VB,5:53" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:53</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>