<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273cb76604d9c5963544cf5be64" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Born To Die - The Paradise Edition</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 23</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2012</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Born To Die</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Bor To Die,4:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Off to the Races</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Off to the Races,4:59" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:59</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Blue Jeans</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Blue Jeans,3:30" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:30</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Video Games</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Video Games,4:41" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:41</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Diet Mountain Dew</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Diet Mountain Dew,3:42" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:42</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">National Anthem</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="National Anthem,3:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Dark Paradise</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Dark Paradise,4:03" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:03</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Radio</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Radio,3:34" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:34</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Carmen</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Carmen,4:08" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:08</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Million Dollar Man</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Million Dollar Man,3:51" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:51</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Summertime Sadness</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Summertime Sadness,4:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">This is What Makes Us Girls</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="This is What Makes Us Girls,3:58" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:58</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Without You</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Without You,3:49" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:49</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Lolita</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Lolita,3:40" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:40</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Lucky Ones</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Lucky Ones,3:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Ride</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Ride,4:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">American</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="American,4:08" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:08</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cola</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Cola,4:20" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:20</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Body Electric</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Body Electric,3:53" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:53</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Blue Velvet</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Blue Velvet,2:38" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:38</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Gods & Monsters</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Gods & Monsters,3:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Yayo</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Yayo,5:21" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:21</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Bel Air</p>
            <form action="lana_album4.html" method="post">
                    <button type="submit" value="Bel Air,3:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:57</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>