<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2736946deb6f548e464b385ee0e" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Blue Banisters</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 15</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2021</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Blue Banisters</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Blue Banisters,4:53" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:53</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Text Book</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Text Book,5:03" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:03</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Arcadia</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Arcadia,4:23" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:23</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Interlude - The Trio</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Interlude - The Trio,1:15" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">1:15</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Black Bathing Suit</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Black Bathing Suit,5:18" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:18</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">If You Lie Down With Me</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="If You Lie Down With Me,4:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Beautiful</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Beautiful,3:35" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:35</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Violets for Roses</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Violets for Roses,4:15" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:15</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Dealer</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Dealer,4:34" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:34</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Thunder</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Thunder,4:19" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:19</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Wildflower Wildfire</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Wildflower Wildfire,4:47" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:47</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Nectar of the Gods</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Nectar of the Gods,4:19" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:19</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Living Legend</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Living Legend,4:01" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:01</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Cherry Blossom</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Cherry Blossom,3:17" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:17</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Sweet Carolina</p>
            <form action="lana_album5.html" method="post">
                    <button type="submit" value="Sweet Carolina,3:21" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:21</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>