<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2731f6a2a40bb692936879db730" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">My Dear Melancholy</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 6</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2018</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Call Out My Name</p>
            <form action="weeknd_album5.html" method="post">
                    <button type="submit" value="Call Out My Name,3:48" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:48</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Try Me</p>
            <form action="weeknd_album5.html" method="post">
                    <button type="submit" value="Try Me,3:41" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:41</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Wasted Times</p>
            <form action="weeknd_album5.html" method="post">
                    <button type="submit" value="Wasted Times,3:40" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:40</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I Was Never There</p>
            <form action="weeknd_album5.html" method="post">
                    <button type="submit" value="I Was Never There,4:01" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:01</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Hurt You</p>
            <form action="weeknd_album5.html" method="post">
                    <button type="submit" value="Hurt You,3:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Privilege</p>
            <form action="weeknd_album5.html" method="post">
                    <button type="submit" value="Privilege,2:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">2:50</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>