<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2734718e2b124f79258be7bc452" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Starboy</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 18</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2016</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Starboy</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Starboy,3:50" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:50</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Party Monster</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Part Monster,4:09" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:09</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">False Alarm</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="False Alarm,3:40" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:40</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Reminder</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Reminder,3:38" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:38</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Rockin'</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Rockin',3:52" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:52</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Secrets</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Secrets,4:25" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:25</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">True Colours</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="True Colours,3:26" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:26</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Stargirl Interlude</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Stargirl Interlude,1:51" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">1:51</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Sidewalks</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Sidewalks,3:51" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:51</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Six Feet Under</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Six Feet Under,3:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Love To Lay</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Love To Lay,3:43" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:43</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">A Lonely Night</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="A Lonely Night,3:40" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:40</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Attention</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Attention,3:17" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:17</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Ordinary Life</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Ordinary Life,3:41" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:41</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Nothing Without You</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Nothing Without You,3:18" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:18</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">All I Know</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="All I Know,5:1" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:21</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Die For You</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="Die For You,4:20" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:20</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">I Feel It Coming</p>
            <form action="weeknd_album1.html" method="post">
                    <button type="submit" value="I Feel It Coming,4:29" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:29</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>