<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2730cc6c8a864d2d16a2bc507d4" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Kiss Land</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 10</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2013</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Professional</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Professional,6:08" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">6:08</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">The Town</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="The Town,5:07" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:07</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Adaptation</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Adaptation,4:43" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:43</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Love In The Sky</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Love In The Sky,4:27" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:27</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Belong To The World</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Belong To The World,5:07" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:07</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Live For</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Live For,3:42" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:42</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Wanderlust</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Wanderlust,5:06" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:06</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Kiss Land</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Kiss Land,7:35" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">7:35</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Pretty</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Pretty,6:15" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">6:15</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Tears In The Rain</p>
            <form action="weeknd_album4.html" method="post">
                    <button type="submit" value="Tears In The Rain,7:24" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">7:24</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>