<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b2737fcead687e99583072cc217b" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Beauty Behind The Madness</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 14</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2015</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Real Life</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Real Life,3:43" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:43</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Losers</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Losers,4:41" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:41</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Tell Your Friends</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Tell Your Friends,5:34" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:34</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Often</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Often,4:09" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:09</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">The Hills</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="The Hills,4:02" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:02</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Acquainted</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Acquainted,5:48" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:48</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Can't Feel My Face</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Can't Fell My Face,3:33" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:33</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Shameless</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Shameless,4:13" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:13</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Earned It</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Earned It,4:37" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:37</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">In The Night</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="In The Night,3:55" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:55</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">As You Are</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="As You Are,5:40" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:40</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Dark Times</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Dark Times,4:20" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:20</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Prisoner</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Prisoner,4:34" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:34</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Angel</p>
            <form action="weeknd_album3.html" method="post">
                    <button type="submit" value="Angel,6:17" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">6:17</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>