<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273de09e02aa7febf30b7c02d82" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">A Rush of Blood to the Head</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 11</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2002</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Politik</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="Politik,5:18" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:18</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">In My Place</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="In My Place,3:46" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:46</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">God Put a Smile upon Your Face</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="God Put a Smile upon Your Face,4:57" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:57</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">The Scientist</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="The Scientist,5:10" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:10</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Clocks</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="Clocks,5:07" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:07</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Daylight</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="Daylight,5:27" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:27</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Green Eyes</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="Green Eyes,3:43" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:43</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Warning Sign</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="Warning Sign,5:31" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:31</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">A Whisper</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="A Whisper,3:58" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:58</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Amsterdam</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="Amsterdam,5:51" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:51</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">A Rush of Blood to the Head</p>
            <form action="coldplay_album2.html" method="post">
                    <button type="submit" value="A Rush of Blood to the Head,5:19" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:19</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>