<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://upload.wikimedia.org/wikipedia/en/3/3d/Coldplay_-_A_Head_Full_of_Dreams.png" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">A Head Full of Dreams</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 11</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2015</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">A Head Full of Dreams</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="A Head Full of Dreams,3:44" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:44</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Hymn for the Weekend</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Hymn for the Weekend,4:18" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:18</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Everglow</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Everglow,4:42" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:42</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Adventure of a Lifetime</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Adventure of a Lifetime,4:23" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:23</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Up&Up</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Up&Up,6:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">6:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Kaleidoscope</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Kaleidoscope,1:51" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">1:51</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Colour Spectrum</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Colour Spectrum,1:00" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">1:00</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Amazing Day</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Amazing Day,4:31" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:31</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Army of One</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Army of One,6:16" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">6:16</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Fun (ft. Tove Lo)</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Fin (ft. Tove Lo),4:27" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:27</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Birds</p>
            <form action="coldplay_album1.html" method="post">
                    <button type="submit" value="Birds,3:49" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:49</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>