<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../../static/album.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="../index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="../artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="../search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="../about.html">About</a>
    </p>
</nav>
<main>
    <div class="album_name_div">
        <table class="album_name_table">
            <tr class="album_name_tr">
                <th class="album_name_th"><img src="https://i.pinimg.com/originals/ff/67/31/ff6731aeb9dc809e4e94b3cd472df67a.jpg" width="400" height="400"></th>
            </tr>
            <tr class="album_name_tr">
                <th class="album_name_th">Ghost Stories</th>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Number of Songs: 9</td>
            </tr>
            <tr class="album_name_tr">
                <td class="album_name_td">Release: 2014</td>
            </tr>
        </table>
    </div>
    <div class="album_song_div">
        <div class="album_song_table">
            <p class="album_song_name">Always in My Head</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="Always in My Head,3:36" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:36</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Magic</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="Magic,4:45" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:45</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Ink</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="Ink,3:48" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:48</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">True Love</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="True Love,4:06" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:06</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Midnight</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="Midnight,4:54" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:54</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Oceans</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="Oceans,3:54" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">3:54</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">Another's Arms</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="Another's Arms,5:21" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:21</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">O</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="O,5:23" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">5:23</p>
        </div>
        <div class="album_song_table">
            <p class="album_song_name">A Sky Full of Stars</p>
            <form action="coldplay_album3.html" method="post">
                    <button type="submit" value="A Sky Full of Stars,4:27" class="btn_data" name="something">ADD</button>
            </form>
            <p class="album_song_duration">4:27</p>
        </div>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="../about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../../static/naveffect.js"></script>
</body>
</html>