<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Waves - Find Tunes That Match Your Frequency</title>
        <link rel="stylesheet" href="../../static/album.css">
    </head>
    <body>
    <header class="home_header">
        <p class="home_header_title">
            Waves
        </p>
        <img src="../../static/LOGO.png" class="img_logo">

    </header>
    <nav class="home_nav">
        <p class="home_header_tag">
            Find Tunes That Match Your Frequency
        </p>
        <p  class="home_nav_content">
            <a href="../index.html">Home</a>
        </p>
        <p  class="home_nav_content">
            <a href="../artists.html">Artists</a>
        </p>
        <p  class="home_nav_content">
            <a href="../search.html">Search</a>
        </p>
        <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
        <p  class="home_nav_content">
            <a href="../about.html">About</a>
        </p>
    </nav>
    <main>
        <div class="album_name_div">
            <table class="album_name_table">
                <tr class="album_name_tr">
                    <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273af964ec2d75f1b2e32be7670" width="400" height="400"></th>
                </tr>
                <tr class="album_name_tr">
                    <th class="album_name_th">An Evening With Silk Sonic</th>
                </tr>
                <tr class="album_name_tr">
                    <td class="album_name_td">Number of Songs: 10</td>
                </tr>
                <tr class="album_name_tr">
                    <td class="album_name_td">Release: 2021</td>
                </tr>
            </table>
        </div>
        <div class="album_song_div">
            <div class="album_song_table">
                <p class="album_song_name">Silk Sonic Intro</p>
                
                <form action="#" method="post">
                    <button onclick="preventDefault()" type="submit" value="Silk Sonic Intro,1:02" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">1:02</p>
                
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Leave The Door Open</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="Leave The Door Open-Bruno Mars,4:02" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">4:02</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Fly As Me</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="Fly As Me-Bruno Mars,3:37" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">3:37</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">After Last Night</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="After Last Night-Bruno Mars,4:09" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">4:09</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Smokin' Out The Window</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="Smokin' Out The Window-Bruno Mars,3:17" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">3:17</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Put On A Smile</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="Put On A Smile-Bruno Mars,4:15" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">4:15</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">777</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="777-Bruno Mars,2:45" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">2:45</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Skate</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="Skate-Bruno Mars,3:23" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">3:23</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Love's Train</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="Love's Train-Bruno Mars,5:07" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">5:07</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Blast Off</p>
                
                <form action="bruno_album1.html" method="post">
                    <button type="submit" value="Blast Off-Bruno Mars,4:44" class="btn_data" name="something">ADD</button>
                </form>
                <p class="album_song_duration">4:44</p>
            </div>
        </div>
    </main>
    <footer>
        <p class="home_left_content"> ver 0.0.1</p>
        <a href="../about.html">
            <p class="home_right_content">@The_Last_of_JS</p>
            </a>
    </footer>
    <script src="../../static/naveffect.js"></script>
    </body>
</html>