<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Waves - Find Tunes That Match Your Frequency</title>
        <link rel="stylesheet" href="../../static/album.css">
    </head>
    <body>
    <header class="home_header">
        <p class="home_header_title">
            Waves
        </p>
        <img src="../../static/LOGO.png" class="img_logo">

    </header>
    <nav class="home_nav">
        <p class="home_header_tag">
            Find Tunes That Match Your Frequency
        </p>
        <p  class="home_nav_content">
            <a href="../index.html">Home</a>
        </p>
        <p  class="home_nav_content">
            <a href="../artists.html">Artists</a>
        </p>
        <p  class="home_nav_content">
            <a href="../search.html">Search</a>
        </p>
        <p  class="home_nav_content">
        <a href="../spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="../playlist.html">Playlist</a>
    </p>
        <p  class="home_nav_content">
            <a href="../about.html">About</a>
        </p>
    </nav>
    <main>
        <div class="album_name_div">
            <table class="album_name_table">
                <tr class="album_name_tr">
                    <th class="album_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273f6b55ca93bd33211227b502b" width="400" height="400"></th>
                </tr>
                <tr class="album_name_tr">
                    <th class="album_name_th">Doo_wops & Hooligans</th>
                </tr>
                <tr class="album_name_tr">
                    <td class="album_name_td">Number of Songs: 11</td>
                </tr>
                <tr class="album_name_tr">
                    <td class="album_name_td">Release: 2010</td>
                </tr>
            </table>
        </div>
        <div class="album_song_div">
            <div class="album_song_table">
                <p class="album_song_name">Grenade</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Grenade-Bruno Mars,3:42" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:42</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Just The Way You Are</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Just THe Way You Are-Bruno Mars,3:40" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:40</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Our First Time</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Our First Time-Bruno Mars,4:03" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">4:03</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Runaway Baby</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Runaway Baby-Bruno Mars,2:28" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">2:28</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">The Lazy Song</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="The Lazy Song-Bruno Mars,3:09" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:09</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Marry You</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Marry You-Bruno Mars,3:09" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:09</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Talking to The Moon</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Talking to The Moon-Bruno Mars,3:37" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:37</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Liquor Store Blues</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Liquor Store Blues-Bruno Mars,3:49" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:49</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Count On Me</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Count On Me-Bruno Mars,3:17" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:17</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">The Other Side</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="The Other Side-Bruno Mars,3:48" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:48</p>
            </div>
            <div class="album_song_table">
                <p class="album_song_name">Somewhere In Brooklyn</p>
                <form action="bruno_album4.html" method="post">
                    <button type="submit" value="Somewhere In Brooklyn-Bruno Mars,3:01" class="btn_data" name="something">ADD</button>
                </form>

                <p class="album_song_duration">3:01</p>
            </div>
        </div>
    </main>
    <footer>
        <p class="home_left_content"> ver 0.0.1</p>
        <a href="../about.html">
            <p class="home_right_content">@The_Last_of_JS</p>
            </a>
    </footer>
    <script src="../../static/naveffect.js"></script>
    </body>
</html>