<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Waves - Find Tunes That Match Your Frequency</title>
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <header class="home_header">
            <p class="home_header_title">
                Waves
            </p>
            <img src="../static/LOGO.png" class="img_logo">
            
        </header>
        <nav class="home_nav">
            <p class="home_header_tag">
                Find Tunes That Match Your Frequency
            </p>
            
            <p  class="home_nav_content">
                <a href="index.html">Home</a>
            </p>
            <p  class="home_nav_content">
                <a href="artists.html">Artists</a>
            </p>
            <p  class="home_nav_content">
                <a href="search.html">Search</a>
            </p>
            <p  class="home_nav_content">
                <a href="spotlight.html">Spotlight</a>
            </p>
            <p  class="home_nav_content">
                <a href="playlist.html">Playlist</a>
            </p>
            <p  class="home_nav_content">
                <a href="about.html" style="background-color:white;border-radius:10px">About</a>
            </p>
        </nav>
        <main>
            <div class="about_pa">
                <p class="about_text">
                <i> WAVES - Find Tunes that Match Your frequency </i>is a song recommender page and a song rating page.
                We plan to profile over a thousand artists and their albums with custom ratings from our users.
                Currently we have only profiled 6 of over favorite artists.
                Do enjoy the Page!!!
            </p>
            </div>
            <!-- <h1 class="about_head" style="text-align: center;color: black ;width: 40%;height: 10%;font-size: 60px;">@The_Last_Of_JS</h1> -->
            <div class="about_us">
                <div class="ashutosh">
                    <table class="artists_table">
                        <tr class="artists_tr">
                            <th class="artists_th"><img src="../static/ashurudra09.jpeg" width="320" Height="400"></th>
                        </tr>
                        <tr class="artists_tr">
                            <th class="artists_th">Ashutosh Rudrabhatla</th>
                        </tr>
                        <tr class="artists_tr">
                            <th class="artists_th">ashutosh.rudrabhatla@research.iiit.ac.in</th>
                        </tr>
                        <tr class="artists_tr">
                            <th class="artists_th">
                                <a href="https://www.instagram.com/ashurudra09/?hl=en" style="color: black;text-align: center">@ashurudra09</a>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="aaditya">
                    <table class="artists_table">
                        <tr class="artists_tr">
                            <th class="artists_th"><img src="../static/20221211_162156.jpg" width="300" Height="400"></th>
                        </tr>
                        <tr class="artists_tr">
                            <th class="artists_th">Aaditya Vardhan Narain</th>
                        </tr>
                        <tr class="artists_tr">
                            <th class="artists_th">aaditya.narain@research.iiit.ac.in</th>
                        </tr>
                        <tr class="artists_tr">

                            <th class="artists_th">
                                <a href="https://in.linkedin.com/in/aaditya-vardhan-narain-9142581b5?trk=public_profile_browsemap" style="color: black;text-align: center">@aaditya_narain</a>
                            </th>

                    </table>
                </div>
            </div>
        </main>
        <footer>
            <p class="home_left_content"> ver 0.0.1</p>
            <a href="./about.html">
                <p class="home_right_content">@The_Last_of_JS</p>
                </a>
        </footer>
        <script src="../static/naveffect.js"></script>
    </body>
</html>