<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Waves - Find Tunes That Match Your Frequency</title>
        <link rel="stylesheet" href="../static/home.css">
        
    </head>
    <body>
        <header class="home_header">
            <p class="home_header_title">
                Waves
            </p>
            <img src="../static/LOGO.png" class="img_logo">
            
        </header>
        <nav class="home_nav">
            <p class="home_header_tag">
                Find Tunes That Match Your Frequency
            </p>
            <p  class="home_nav_content">
                <a href="index.html">Home</a>
            </p>
            <p  class="home_nav_content">
                <a href="artists.html" style="background-color:white;border-radius:10px">Artists</a>
            </p>
            <p  class="home_nav_content">
                <a href="search.html">Search</a>
            </p>
            <p  class="home_nav_content">
                <a href="spotlight.html">Spotlight</a>
            </p>
            <p  class="home_nav_content">
                <a href="playlist.html">Playlist</a>
            </p>
            <p  class="home_nav_content">
                <a href="about.html">About</a>
            </p>
        </nav>
        <main>
            <a href="artists_coldplay.html">
            <div class="artist_div">
                <table class="artists_table">
                    <tr class="artists_tr">
                        <th class="artists_th"><img src="https://cdns-images.dzcdn.net/images/artist/e65d62ecd00b8bf1ba89073943ac62a1/500x500.jpg" width="300" Height="300"></th>
                    </tr>
                    <tr class="artists_tr">
                        <th class="artists_th">Coldplay</th>
                    </tr>
                    <tr class="artists_tr">
                        <th class="artists_th">Top Albums</th>
                    </tr>
                    <tr class="artists_tr">
                        <td class="artists_td">A Head Full of Dreams</td>
                    </tr>
                    <tr class="artists_tr">
                        <td class="artists_td">Mylo Xyloto</td>
                    </tr>
                    <tr class="artists_tr">
                        <td class="artists_td">Ghost Stories</td>
                    </tr>
                </table>
            </div>
            </a>
            <a href="artists_lana.html">
            <div class="artist_div">
            <table class="artists_table">
                <tr class="artists_tr">
                    <th class="artists_th"><img src="https://i.scdn.co/image/ab67616d0000b273a1c37f3fd969287c03482c3b" width="300" Height="300"></th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Lana Del Rey</th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Top Albums</th>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Norman Fucking Rockwell!</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Ultraviolence</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Born to Die - Paradise Edition</td>
                </tr>
            </table>
            </div>
        </a>
        <a href="artists_bruno.html">
            <div class="artist_div">
            <table class="artists_table">
                <tr class="artists_tr">
                    <th class="artists_th"><img src="https://cdns-images.dzcdn.net/images/artist/7f3c0956357c326b2db2cf436f1dc8c5/500x500.jpg" width="300" Height="300"></th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Bruno Mars</th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Top Albums</th>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">24K Magic</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">An Evening With Silk Sonic</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Unorthodox Jukebox</td>
                </tr>
            </table>
            </div>
        </a>
        <a href="artists_weeknd.html">
            <div class="artist_div">
            <table class="artists_table">
                <tr class="artists_tr">
                    <th class="artists_th"><img src="https://i.scdn.co/image/ab6761610000e5ebb5f9e28219c169fd4b9e8379" width="300" Height="300"></th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">The Weeknd</th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Top Albums</th>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Starboy</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">After Hours</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Beauty Behind The Madness</td>
                </tr>
            </table>
            </div>
            </a>
            <a href="artists_eminem.html">
            <div class="artist_div">
            <table class="artists_table">
                <tr class="artists_tr">
                    <th class="artists_th"><img src="https://i.scdn.co/image/ab6761610000e5eba00b11c129b27a88fc72f36b" width="300" Height="300"></th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Eminem</th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Top Albums</th>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">The Marshall Mathers LP</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">The Eminem Show</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Recovery</td>
                </tr>
            </table>
        </div>
        </a>
        <a href="artists_imagine.html">
        <div class="artist_div">
            <table class="artists_table">
                <tr class="artists_tr">
                    <th class="artists_th"><img src="https://i.scdn.co/image/ab6761610000e5eb920dc1f617550de8388f368e" width="300" Height="300"></th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Imagine Dragons</th>
                </tr>
                <tr class="artists_tr">
                    <th class="artists_th">Top Albums</th>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Evolve</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Origins</td>
                </tr>
                <tr class="artists_tr">
                    <td class="artists_td">Night Visions</td>
                </tr>
            </table>
            </div>
            </a>
            </div>
        </main>
        <footer>
            <p class="home_left_content"> ver 0.0.1</p>
            <a href="./about.html">
                <p class="home_right_content">@The_Last_of_JS</p>
                </a>
        </footer>
        <script src="../static/naveffect.js"></script>
    </body>
</html>
