<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../static/artist.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="about.html">About</a>
    </p>
</nav>
<main>
    <div class="artists_name_div">
        <table class="artists_name_table">
            <tr class="artists_name_tr">
                <td class="artists_name_th"><img src="https://cdns-images.dzcdn.net/images/artist/7f3c0956357c326b2db2cf436f1dc8c5/500x500.jpg" width="400" height="400"></td>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_th">Bruno Mars</td>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_th">Top Album</td>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">24K Magic</td>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_th">Top Song</td>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Just The Way You Are</td>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_th">About</td>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">A Good artist probably.Enjoyed Starboy.</td>
            </tr>
        </table>
    </div>
    <div class="artists_album_div">
        <a href="albums_bruno/bruno_album1.html" type="button">
        <div class="artist_album" >
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273af964ec2d75f1b2e32be7670" width="200" height="200">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">An Evening With Silk Sonic</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">10 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2021</td>
                </tr>
            </table>
        </div>
        </a>
        <a href="albums_bruno/bruno_album2.html" type="button">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273232711f7d66a1e19e89e28c5" width="200" height="200">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">24K Magic</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">9 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2016</td>
                </tr>
            </table>
        </div>
        </a>
        <a href="albums_bruno/bruno_album3.html" type="button">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273926f43e7cce571e62720fd46" width="200" height="200">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Unorthodox Jukebox</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">10 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2012</td>
                </tr>
            </table>
        </div>
        </a>
        <a href="albums_bruno/bruno_album4.html" type="button">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273f6b55ca93bd33211227b502b" width="200" height="200">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Doo-Wops & Hooligans</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">11 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2010</td>
                </tr>
            </table>
        </div>
        </a>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../static/naveffect.js"></script>
</body>
</html>
