<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../static/artist.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="about.html">About</a>
    </p>
</nav>
<main>
    <div class="artists_name_div">
        <table class="artists_name_table">
            <tr class="artists_name_tr">
                <th class="artists_name_th"><img src="https://i.scdn.co/image/ab6761610000e5ebb5f9e28219c169fd4b9e8379" width="300" height="300"></th>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">The Weeknd</th>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Top Album</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Rockstar</td>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Top Song</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Blinding Lights</td>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">About</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Chill Pop/synth music.</td>
            </tr>
        </table>
    </div>
    <div class="artists_album_div">
        <a href="./albums_weeknd/weeknd_album1.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2734718e2b124f79258be7bc452" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Starboy</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">18 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2016</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_weeknd/weeknd_album2.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2738863bc11d2aa12b54f5aeb36" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">After Hours</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">14 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2020</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_weeknd/weeknd_album3.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2737fcead687e99583072cc217b" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Beauty Behind The Madness</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">14 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2015</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_weeknd/weeknd_album4.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2730cc6c8a864d2d16a2bc507d4" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Kiss Land</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">10 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2013</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_weeknd/weeknd_album5.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2731f6a2a40bb692936879db730" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">My Dear Melancholy</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">6 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2018</td>
                </tr>
            </table>
        </div>
    </a>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../static/naveffect.js"></script>
</body>
</html>