<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../static/artist.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="about.html">About</a>
    </p>

</nav>
<main>
    <div class="artists_name_div">
        <table class="artists_name_table">
            <tr class="artists_name_tr">
                <th class="artists_name_th"><img src="https://i.scdn.co/image/ab67616d0000b273a1c37f3fd969287c03482c3b" width="300" height="300"></th>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Lana Del Rey</th>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Top Album</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Norman Fucking Rockwell!</td>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Top Song</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Summertime Sadness</td>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">About</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Gives you all the feels. Bold, impactful music.</td>
            </tr>
        </table>
    </div>
    <div class="artists_album_div">
        <a href="./albums_lana/lana_album1.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b27359ae8cf65d498afdd5585634" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Did you know that there's a tunnel under Ocean Blvd</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">16 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2023</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_lana/lana_album2.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273879e9318cb9f4e05ee552ac9" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Norman Fucking Rockwell!</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">14 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2019</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_lana/lana_album3.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2736b55c2ee78c5a47393ff8e7a" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Ultraviolence</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">14 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2014</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_lana/lana_album4.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273cb76604d9c5963544cf5be64" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Born To Die - The Paradise Edition</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">23 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2012</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_lana/lana_album5.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2736946deb6f548e464b385ee0e" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Blue Banisters</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">15 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2021</td>
                </tr>
            </table>
        </div>
    </a>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../static/naveffect.js"></script>
</body>
</html>