<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waves - Find Tunes That Match Your Frequency</title>
    <link rel="stylesheet" href="../static/artist.css">
</head>
<body>
<header class="home_header">
    <p class="home_header_title">
        Waves
    </p>
    <img src="../static/LOGO.png" class="img_logo">

</header>
<nav class="home_nav">
    <p class="home_header_tag">
        Find Tunes That Match Your Frequency
    </p>
    <p  class="home_nav_content">
        <a href="index.html">Home</a>
    </p>
    <p  class="home_nav_content">
        <a href="artists.html">Artists</a>
    </p>
    <p  class="home_nav_content">
        <a href="search.html">Search</a>
    </p>
    <p  class="home_nav_content">
        <a href="spotlight.html">Spotlight</a>
    </p>
    <p  class="home_nav_content">
        <a href="playlist.html">Playlist</a>
    </p>
    <p  class="home_nav_content">
        <a href="about.html">About</a>
    </p>
</nav>
<main>
    <div class="artists_name_div">
        <table class="artists_name_table">
            <tr class="artists_name_tr">
                <th class="artists_name_th"><img src="https://cdns-images.dzcdn.net/images/artist/e65d62ecd00b8bf1ba89073943ac62a1/500x500.jpg" width="300" height="300"></th>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Coldplay</th>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Top Album</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">A Head Full of Dreams</td>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">Top Song</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Paradise</td>
            </tr>
            <tr class="artists_name_tr">
                <th class="artists_name_th">About</th>
            </tr>
            <tr class="artists_name_tr">
                <td class="artists_name_td">Absolute Nostalgia. The only rock band to create banger soothing music.</td>
            </tr>
        </table>
    </div>
    <div class="artists_album_div">
        <a href="albums_coldplay/coldplay_album1.html" type="button">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://upload.wikimedia.org/wikipedia/en/3/3d/Coldplay_-_A_Head_Full_of_Dreams.png" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">A Head Full of Dreams</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">11 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2015</td>
                </tr>
            </table>
        </div>
        </a>
        <a href="./albums_coldplay/coldplay_album2.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273de09e02aa7febf30b7c02d82" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">A Rush of Blood to the Head</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">11 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2002</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_coldplay/coldplay_album3.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.pinimg.com/originals/ff/67/31/ff6731aeb9dc809e4e94b3cd472df67a.jpg" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Ghost Stories</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">9 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2014</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_coldplay/coldplay_album4.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b273de0cd11d7b31c3bd1fd5983d" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Mylo Xyloto</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">14 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2011</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="./albums_coldplay/coldplay_album5.html">
        <div class="artist_album">
            <table class="artists_album_table">
                <tr class="artists_album_tr">
                    <th class="artists_album_th">
                        <img src="https://i.scdn.co/image/ab67616d0000b2733d92b2ad5af9fbc8637425f0" width="300" height="300">
                    </th>
                </tr>
                <tr class="artists_album_tr">
                    <th class="artists_album_th">Parachutes</th>
                </tr>
                <tr class="artists_album_tr">
                    <td class="artists_album_td">10 Songs</td>
                </tr>
                <tr>
                    <td class="artists_album_td">Release: 2000</td>
                </tr>
            </table>
        </div>
    </a>
    </div>
</main>
<footer>
    <p class="home_left_content"> ver 0.0.1</p>
    <a href="about.html">
        <p class="home_right_content">@The_Last_of_JS</p>
        </a>
</footer>
<script src="../static/naveffect.js"></script>
</body>
</html>
