<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Waves - Find Tunes That Match Your Frequency</title>
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <header class="home_header">
            <p class="home_header_title">
                Waves
            </p>
            <img src="../static/LOGO.png" class="img_logo">
            
        </header>
        <nav class="home_nav">
            <p class="home_header_tag">
                Find Tunes That Match Your Frequency
            </p>
            <p  class="home_nav_content">
                <a href="index.html" style="background-color:white;border-radius:10px">Home</a>
            </p>
            <p  class="home_nav_content">
                <a href="artists.html">Artists</a>
            </p>
            <p  class="home_nav_content">
                <a href="search.html">Search</a>
            </p>
            <p  class="home_nav_content">
                <a href="spotlight.html">Spotlight</a>
            </p>
            <p  class="home_nav_content">
                <a href="playlist.html">Playlist</a>
            </p>
            <p  class="home_nav_content">
                <a href="about.html">About</a>
            </p>
            
        </nav>
        <main>
            <div class="home_div">
                <table class="home_table">
                    <tr class="home_tr">
                        <th class="home_th">Top Artists</th>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td"><a href="artists_weeknd.html">The Weeknd</a></td>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td"><a href="artists_imagine.html">Imagine Dragons</a></td>
                    </tr>
                    <tr class="home_tr">
                    <td class="home_td"><a href="artists_lana.html">Lana Del Rey</a></td>
                </tr>
                </table>
            </div>
            <div class="home_div">
                <table class="home_table">
                    <tr class="home_tr">
                        <th class="home_th">Top Albums</th>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td"><a href="albums_weeknd/weeknd_album2.html">After Hours</a></td>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td"><a href="albums_eminem/eminem_album1.html">The Marshall Mathers LP</a></td>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td"><a href="albums_coldplay/coldplay_album1.html">A Head Full Of Dreams</a></td>
                    </tr>
                </table>
            </div>
            <div class="home_div">
                <table class="home_table">
                    <tr class="home_tr">
                        <th class="home_th">Top Songs</th>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td">Demons</td>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td">Starboy</td>
                    </tr>
                    <tr class="home_tr">
                        <td class="home_td">The Real Slim Shady</td>
                    </tr>
                </table>
            </div>


        </main>
        <footer>
            <p class="home_left_content"> ver 0.0.1</p>
            <a href="./about.html">
            <p class="home_right_content">@The_Last_of_JS</p>
            </a>
        </footer>
        <script src="../static/naveffect.js"></script>
    </body>
</html>
